[Unit]
Description=PheonixCRM Docker Compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/pheonix
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -f /opt/pheonix/docker-compose.prod.yml up -d --build
ExecStop=/usr/bin/docker compose -f /opt/pheonix/docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target