@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Minimal styles */
body { font-family: Roboto, Arial, sans-serif; margin: 0; padding: 0; background:#f5f5f5 }
mat-card { margin: 8px; }
mat-toolbar { position: sticky; top: 0; z-index: 2 }
